@import 'variables';

/* Colors
-------------------------- */
$--color-primary: $light-blue;

$--color-success: $green !default;
$--color-warning: $yellow !default;
$--color-danger: $pink !default;
$--color-info: $grey !default;

/* Table
-------------------------- */
$--table-row-hover-background-color: #D5E8FB !default;
$--table-current-row-background-color: #C8E1FB !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";