@import 'variables';

//布局容器样式重置
.el-header{
  padding: 0;
}

.el-main{
  padding: 0;
}

//控件校验正确样式
.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus{
  border-color: $green;
}

//el-rate 在表单中部分样式有bug
.el-form-item .el-rate{
  line-height: 2;
}

//autocomplete 下拉框宽度自适应
.el-autocomplete-suggestion{
  width: auto !important;
}

.el-checkbox-group{
  display: inline-block;
}

//timelineItem
.el-timeline-item{
  padding: 5px 0 15px;
}

//divider
.el-divider--horizontal{
  margin: 15px 0;
}