@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1zbvko');
  src:  url('fonts/icomoon.eot?1zbvko#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?1zbvko') format('truetype'),
  url('fonts/icomoon.woff?1zbvko') format('woff'),
  url('fonts/icomoon.svg?1zbvko#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sf-icon-"], [class*=" sf-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sf-icon-alarmclock:before {
  content: "\e900";
}
.sf-icon-open:before {
  content: "\e901";
}
.sf-icon-smiley:before {
  content: "\e902";
}
.sf-icon-grieved:before {
  content: "\e903";
}
.sf-icon-mute:before {
  content: "\e904";
}
.sf-icon-medal:before {
  content: "\e905";
}
.sf-icon-cross:before {
  content: "\e906";
}
.sf-icon-moonandstar:before {
  content: "\e907";
}
.sf-icon-spaceinvaders:before {
  content: "\e908";
}
.sf-icon-skeletor:before {
  content: "\e909";
}
.sf-icon-bomb:before {
  content: "\e90a";
}
.sf-icon-patch:before {
  content: "\e90b";
}
.sf-icon-pil:before {
  content: "\e90c";
}
.sf-icon-injection:before {
  content: "\e90d";
}
.sf-icon-chat:before {
  content: "\e90f";
}
.sf-icon-money:before {
  content: "\e910";
}
.sf-icon-lots-money:before {
  content: "\e911";
}
.sf-icon-safe:before {
  content: "\e912";
}
.sf-icon-aids:before {
  content: "\e913";
}
.sf-icon-cone:before {
  content: "\e915";
}
.sf-icon-blocked:before {
  content: "\e916";
}
.sf-icon-stop:before {
  content: "\e917";
}
.sf-icon-printer:before {
  content: "\e918";
}
.sf-icon-checked-block:before {
  content: "\e919";
}
.sf-icon-error-block:before {
  content: "\e91a";
}
.sf-icon-add-block:before {
  content: "\e91b";
}
.sf-icon-minus-block:before {
  content: "\e91c";
}
.sf-icon-heart-plus:before {
  content: "\e91d";
}
.sf-icon-heart-minus:before {
  content: "\e91e";
}
.sf-icon-clipboard:before {
  content: "\e91f";
}
.sf-icon-clipboard-check:before {
  content: "\e920";
}
.sf-icon-clipboard-solid:before {
  content: "\e921";
}
.sf-icon-office:before {
  content: "\e922";
}
.sf-icon-library:before {
  content: "\e923";
}
.sf-icon-credit-card:before {
  content: "\e93f";
}
.sf-icon-phone:before {
  content: "\e942";
}
.sf-icon-phone-hang-up:before {
  content: "\e943";
}
.sf-icon-trophy:before {
  content: "\e99e";
}
.sf-icon-gift-o:before {
  content: "\e99f";
}
.sf-icon-happy:before {
  content: "\e9df";
}
.sf-icon-happy-solid:before {
  content: "\e9e0";
}
.sf-icon-smile:before {
  content: "\e9e1";
}
.sf-icon-smile-solid:before {
  content: "\e9e2";
}
.sf-icon-tongue:before {
  content: "\e9e3";
}
.sf-icon-tongue-solid:before {
  content: "\e9e4";
}
.sf-icon-sad:before {
  content: "\e9e5";
}
.sf-icon-sad-solid:before {
  content: "\e9e6";
}
.sf-icon-wink:before {
  content: "\e9e7";
}
.sf-icon-wink-solid:before {
  content: "\e9e8";
}
.sf-icon-grin:before {
  content: "\e9e9";
}
.sf-icon-grin-solid:before {
  content: "\e9ea";
}
.sf-icon-cool:before {
  content: "\e9eb";
}
.sf-icon-cool-solid:before {
  content: "\e9ec";
}
.sf-icon-angry:before {
  content: "\e9ed";
}
.sf-icon-angry-solid:before {
  content: "\e9ee";
}
.sf-icon-evil:before {
  content: "\e9ef";
}
.sf-icon-evil-solid:before {
  content: "\e9f0";
}
.sf-icon-shocked:before {
  content: "\e9f1";
}
.sf-icon-shocked-solid:before {
  content: "\e9f2";
}
.sf-icon-baffled:before {
  content: "\e9f3";
}
.sf-icon-baffled-solid:before {
  content: "\e9f4";
}
.sf-icon-confused:before {
  content: "\e9f5";
}
.sf-icon-confused-solid:before {
  content: "\e9f6";
}
.sf-icon-neutral:before {
  content: "\e9f7";
}
.sf-icon-neutral-solid:before {
  content: "\e9f8";
}
.sf-icon-hipster:before {
  content: "\e9f9";
}
.sf-icon-hipster-solid:before {
  content: "\e9fa";
}
.sf-icon-wondering:before {
  content: "\e9fb";
}
.sf-icon-wondering-solid:before {
  content: "\e9fc";
}
.sf-icon-sleepy:before {
  content: "\e9fd";
}
.sf-icon-sleepy-solid:before {
  content: "\e9fe";
}
.sf-icon-frustrated:before {
  content: "\e9ff";
}
.sf-icon-frustrated-solid:before {
  content: "\ea00";
}
.sf-icon-crying:before {
  content: "\ea01";
}
.sf-icon-crying-solid:before {
  content: "\ea02";
}
.sf-icon-enter:before {
  content: "\ea13";
}
.sf-icon-exit:before {
  content: "\ea14";
}
.sf-icon-pushpin:before {
  content: "\e946";
}
.sf-icon-quotes-left:before {
  content: "\e977";
}
.sf-icon-list-number:before {
  content: "\e9b9";
}
.sf-icon-list-check:before {
  content: "\e9ba";
}
.sf-icon-list:before {
  content: "\e9bb";
}
.sf-icon-link:before {
  content: "\e9cb";
}
.sf-icon-font-size:before {
  content: "\ea61";
}
.sf-icon-bold:before {
  content: "\ea62";
}
.sf-icon-underline:before {
  content: "\ea63";
}
.sf-icon-italic:before {
  content: "\ea64";
}
.sf-icon-strikethrough:before {
  content: "\ea65";
}
.sf-icon-embed:before {
  content: "\ea7f";
}
.sf-icon-embed2:before {
  content: "\ea80";
}
.sf-icon-plus:before {
  content: "\f067";
}
.sf-icon-question:before {
  content: "\f128";
}
.sf-icon-minus:before {
  content: "\f068";
}
.sf-icon-heart:before {
  content: "\f004";
}
.sf-icon-user:before {
  content: "\f007";
}
.sf-icon-check:before {
  content: "\f00c";
}
.sf-icon-close:before {
  content: "\f00d";
}
.sf-icon-remove:before {
  content: "\f00d";
}
.sf-icon-times:before {
  content: "\f00d";
}
.sf-icon-power-off:before {
  content: "\f011";
}
.sf-icon-trash-o:before {
  content: "\f014";
}
.sf-icon-home:before {
  content: "\f015";
}
.sf-icon-refresh:before {
  content: "\f021";
}
.sf-icon-qrcode:before {
  content: "\f029";
}
.sf-icon-barcode:before {
  content: "\f02a";
}
.sf-icon-tag:before {
  content: "\f02b";
}
.sf-icon-tags:before {
  content: "\f02c";
}
.sf-icon-print:before {
  content: "\f02f";
}
.sf-icon-list1:before {
  content: "\f03a";
}
.sf-icon-image:before {
  content: "\f03e";
}
.sf-icon-pencil:before {
  content: "\f040";
}
.sf-icon-gift:before {
  content: "\f06b";
}
.sf-icon-calendar:before {
  content: "\f073";
}
.sf-icon-chevron-up:before {
  content: "\f077";
}
.sf-icon-chevron-down:before {
  content: "\f078";
}
.sf-icon-bar-chart:before {
  content: "\f080";
}
.sf-icon-cogs:before {
  content: "\f085";
}
.sf-icon-gears:before {
  content: "\f085";
}
.sf-icon-comments:before {
  content: "\f086";
}
.sf-icon-thumbs-o-up:before {
  content: "\f087";
}
.sf-icon-thumbs-o-down:before {
  content: "\f088";
}
.sf-icon-heart-o:before {
  content: "\f08a";
}
.sf-icon-external-link:before {
  content: "\f08e";
}
.sf-icon-sign-in:before {
  content: "\f090";
}
.sf-icon-globe:before {
  content: "\f0ac";
}
.sf-icon-arrows-alt:before {
  content: "\f0b2";
}
.sf-icon-flask:before {
  content: "\f0c3";
}
.sf-icon-copy:before {
  content: "\f0c5";
}
.sf-icon-save:before {
  content: "\f0c7";
}
.sf-icon-truck:before {
  content: "\f0d1";
}
.sf-icon-comment-o:before {
  content: "\f0e5";
}
.sf-icon-comments-o:before {
  content: "\f0e6";
}
.sf-icon-sitemap:before {
  content: "\f0e8";
}
.sf-icon-user-md:before {
  content: "\f0f0";
}
.sf-icon-stethoscope:before {
  content: "\f0f1";
}
.sf-icon-cutlery:before {
  content: "\f0f5";
}
.sf-icon-building-o:before {
  content: "\f0f7";
}
.sf-icon-hospital-o:before {
  content: "\f0f8";
}
.sf-icon-ambulance:before {
  content: "\f0f9";
}
.sf-icon-medkit:before {
  content: "\f0fa";
}
.sf-icon-angle-double-left:before {
  content: "\f100";
}
.sf-icon-angle-double-right:before {
  content: "\f101";
}
.sf-icon-angle-double-up:before {
  content: "\f102";
}
.sf-icon-angle-double-down:before {
  content: "\f103";
}
.sf-icon-angle-left:before {
  content: "\f104";
}
.sf-icon-angle-right:before {
  content: "\f105";
}
.sf-icon-angle-up:before {
  content: "\f106";
}
.sf-icon-angle-down:before {
  content: "\f107";
}
.sf-icon-laptop:before {
  content: "\f109";
}
.sf-icon-tablet:before {
  content: "\f10a";
}
.sf-icon-mobile:before {
  content: "\f10b";
}
.sf-icon-mobile-phone:before {
  content: "\f10b";
}
.sf-icon-quote-left:before {
  content: "\f10d";
}
.sf-icon-quote-right:before {
  content: "\f10e";
}
.sf-icon-folder-o:before {
  content: "\f114";
}
.sf-icon-folder-open-o:before {
  content: "\f115";
}
.sf-icon-smile-o:before {
  content: "\f118";
}
.sf-icon-frown-o:before {
  content: "\f119";
}
.sf-icon-meh-o:before {
  content: "\f11a";
}
.sf-icon-eur:before {
  content: "\f153";
}
.sf-icon-euro:before {
  content: "\f153";
}
.sf-icon-gbp:before {
  content: "\f154";
}
.sf-icon-dollar:before {
  content: "\f155";
}
.sf-icon-usd:before {
  content: "\f155";
}
.sf-icon-inr:before {
  content: "\f156";
}
.sf-icon-rupee:before {
  content: "\f156";
}
.sf-icon-cny:before {
  content: "\f157";
}
.sf-icon-jpy:before {
  content: "\f157";
}
.sf-icon-rmb:before {
  content: "\f157";
}
.sf-icon-yen:before {
  content: "\f157";
}
.sf-icon-rouble:before {
  content: "\f158";
}
.sf-icon-rub:before {
  content: "\f158";
}
.sf-icon-ruble:before {
  content: "\f158";
}
.sf-icon-krw:before {
  content: "\f159";
}
.sf-icon-won:before {
  content: "\f159";
}
.sf-icon-bitcoin:before {
  content: "\f15a";
}
.sf-icon-btc:before {
  content: "\f15a";
}
.sf-icon-thumbs-up:before {
  content: "\f164";
}
.sf-icon-thumbs-down:before {
  content: "\f165";
}
.sf-icon-female:before {
  content: "\f182";
}
.sf-icon-male:before {
  content: "\f183";
}
.sf-icon-wheelchair:before {
  content: "\f193";
}
.sf-icon-language:before {
  content: "\f1ab";
}
.sf-icon-building:before {
  content: "\f1ad";
}
.sf-icon-cube:before {
  content: "\f1b2";
}
.sf-icon-cubes:before {
  content: "\f1b3";
}
.sf-icon-recycle:before {
  content: "\f1b8";
}
.sf-icon-twitch:before {
  content: "\f1e8";
}
.sf-icon-trash:before {
  content: "\f1f8";
}
.sf-icon-area-chart:before {
  content: "\f1fe";
}
.sf-icon-pie-chart:before {
  content: "\f200";
}
.sf-icon-line-chart:before {
  content: "\f201";
}
.sf-icon-street-view:before {
  content: "\f21d";
}
.sf-icon-heartbeat:before {
  content: "\f21e";
}
.sf-icon-venus:before {
  content: "\f221";
}
.sf-icon-mars:before {
  content: "\f222";
}
.sf-icon-user-plus:before {
  content: "\f234";
}
.sf-icon-user-times:before {
  content: "\f235";
}
.sf-icon-bed:before {
  content: "\f236";
}
.sf-icon-hotel:before {
  content: "\f236";
}
.sf-icon-map-signs:before {
  content: "\f277";
}
.sf-icon-address-book:before {
  content: "\f2b9";
}
.sf-icon-address-book-o:before {
  content: "\f2ba";
}
.sf-icon-vcard:before {
  content: "\f2bb";
}
.sf-icon-vcard-o:before {
  content: "\f2bc";
}
.sf-icon-user-circle:before {
  content: "\f2bd";
}
.sf-icon-user-circle-o:before {
  content: "\f2be";
}
.sf-icon-id-card:before {
  content: "\f2c2";
}
.sf-icon-id-card-o:before {
  content: "\f2c3";
}
.sf-icon-thermometer-full:before {
  content: "\f2c7";
}
.sf-icon-thermometer-three-quarters:before {
  content: "\f2c8";
}
.sf-icon-thermometer-half:before {
  content: "\f2c9";
}
.sf-icon-thermometer-quarter:before {
  content: "\f2ca";
}
.sf-icon-thermometer-empty:before {
  content: "\f2cb";
}
.sf-icon-bath:before {
  content: "\f2cd";
}