body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

//autocomplete 下拉框宽度自适应
.el-autocomplete-suggestion{
  width: auto !important;
}

.el-container{
  height: 100%;
}

.el-header{
  padding: 0;
}

.el-main{
  padding: 0;
}