@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1zbvko');
  src:  url('fonts/icomoon.eot?1zbvko#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1zbvko') format('truetype'),
    url('fonts/icomoon.woff?1zbvko') format('woff'),
    url('fonts/icomoon.svg?1zbvko#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alarmclock:before {
  content: "\e900";
}
.icon-open:before {
  content: "\e901";
}
.icon-smiley:before {
  content: "\e902";
}
.icon-grieved:before {
  content: "\e903";
}
.icon-mute:before {
  content: "\e904";
}
.icon-medal:before {
  content: "\e905";
}
.icon-cross:before {
  content: "\e906";
}
.icon-moonandstar:before {
  content: "\e907";
}
.icon-spaceinvaders:before {
  content: "\e908";
}
.icon-skeletor:before {
  content: "\e909";
}
.icon-bomb:before {
  content: "\e90a";
}
.icon-patch:before {
  content: "\e90b";
}
.icon-pil:before {
  content: "\e90c";
}
.icon-injection:before {
  content: "\e90d";
}
.icon-chat:before {
  content: "\e90f";
}
.icon-money:before {
  content: "\e910";
}
.icon-lots-money:before {
  content: "\e911";
}
.icon-safe:before {
  content: "\e912";
}
.icon-aids:before {
  content: "\e913";
}
.icon-cone:before {
  content: "\e915";
}
.icon-blocked:before {
  content: "\e916";
}
.icon-stop:before {
  content: "\e917";
}
.icon-printer:before {
  content: "\e918";
}
.icon-checked-block:before {
  content: "\e919";
}
.icon-error-block:before {
  content: "\e91a";
}
.icon-add-block:before {
  content: "\e91b";
}
.icon-minus-block:before {
  content: "\e91c";
}
.icon-heart-plus:before {
  content: "\e91d";
}
.icon-heart-minus:before {
  content: "\e91e";
}
.icon-clipboard:before {
  content: "\e91f";
}
.icon-clipboard-check:before {
  content: "\e920";
}
.icon-clipboard-solid:before {
  content: "\e921";
}
.icon-plus:before {
  content: "\f067";
}
.icon-question:before {
  content: "\f128";
}
.icon-minus:before {
  content: "\f068";
}
.icon-heart:before {
  content: "\f004";
}
.icon-user:before {
  content: "\f007";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-print:before {
  content: "\f02f";
}
.icon-list:before {
  content: "\f03a";
}
.icon-image:before {
  content: "\f03e";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-sign-in:before {
  content: "\f090";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-arrows-alt:before {
  content: "\f0b2";
}
.icon-flask:before {
  content: "\f0c3";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-files-o:before {
  content: "\f0c5";
}
.icon-floppy-o:before {
  content: "\f0c7";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-cutlery:before {
  content: "\f0f5";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-hospital-o:before {
  content: "\f0f8";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-folder-open-o:before {
  content: "\f115";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-frown-o:before {
  content: "\f119";
}
.icon-meh-o:before {
  content: "\f11a";
}
.icon-eur:before {
  content: "\f153";
}
.icon-euro:before {
  content: "\f153";
}
.icon-gbp:before {
  content: "\f154";
}
.icon-dollar:before {
  content: "\f155";
}
.icon-usd:before {
  content: "\f155";
}
.icon-inr:before {
  content: "\f156";
}
.icon-rupee:before {
  content: "\f156";
}
.icon-cny:before {
  content: "\f157";
}
.icon-jpy:before {
  content: "\f157";
}
.icon-rmb:before {
  content: "\f157";
}
.icon-yen:before {
  content: "\f157";
}
.icon-rouble:before {
  content: "\f158";
}
.icon-rub:before {
  content: "\f158";
}
.icon-ruble:before {
  content: "\f158";
}
.icon-krw:before {
  content: "\f159";
}
.icon-won:before {
  content: "\f159";
}
.icon-bitcoin:before {
  content: "\f15a";
}
.icon-btc:before {
  content: "\f15a";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-wheelchair:before {
  content: "\f193";
}
.icon-language:before {
  content: "\f1ab";
}
.icon-building:before {
  content: "\f1ad";
}
.icon-cube:before {
  content: "\f1b2";
}
.icon-cubes:before {
  content: "\f1b3";
}
.icon-recycle:before {
  content: "\f1b8";
}
.icon-twitch:before {
  content: "\f1e8";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-area-chart:before {
  content: "\f1fe";
}
.icon-pie-chart:before {
  content: "\f200";
}
.icon-line-chart:before {
  content: "\f201";
}
.icon-street-view:before {
  content: "\f21d";
}
.icon-heartbeat:before {
  content: "\f21e";
}
.icon-venus:before {
  content: "\f221";
}
.icon-mars:before {
  content: "\f222";
}
.icon-user-plus:before {
  content: "\f234";
}
.icon-user-times:before {
  content: "\f235";
}
.icon-bed:before {
  content: "\f236";
}
.icon-hotel:before {
  content: "\f236";
}
.icon-map-signs:before {
  content: "\f277";
}
.icon-address-book:before {
  content: "\f2b9";
}
.icon-address-book-o:before {
  content: "\f2ba";
}
.icon-vcard:before {
  content: "\f2bb";
}
.icon-vcard-o:before {
  content: "\f2bc";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-id-card:before {
  content: "\f2c2";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
.icon-thermometer-full:before {
  content: "\f2c7";
}
.icon-thermometer-three-quarters:before {
  content: "\f2c8";
}
.icon-thermometer-half:before {
  content: "\f2c9";
}
.icon-thermometer-quarter:before {
  content: "\f2ca";
}
.icon-thermometer-empty:before {
  content: "\f2cb";
}
.icon-bath:before {
  content: "\f2cd";
}
.icon-office:before {
  content: "\e922";
}
.icon-library:before {
  content: "\e923";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-gift-o:before {
  content: "\e99f";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-happy-solid:before {
  content: "\e9e0";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-smile-solid:before {
  content: "\e9e2";
}
.icon-tongue:before {
  content: "\e9e3";
}
.icon-tongue-solid:before {
  content: "\e9e4";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-sad-solid:before {
  content: "\e9e6";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-wink-solid:before {
  content: "\e9e8";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-grin-solid:before {
  content: "\e9ea";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-cool-solid:before {
  content: "\e9ec";
}
.icon-angry:before {
  content: "\e9ed";
}
.icon-angry-solid:before {
  content: "\e9ee";
}
.icon-evil:before {
  content: "\e9ef";
}
.icon-evil-solid:before {
  content: "\e9f0";
}
.icon-shocked:before {
  content: "\e9f1";
}
.icon-shocked-solid:before {
  content: "\e9f2";
}
.icon-baffled:before {
  content: "\e9f3";
}
.icon-baffled-solid:before {
  content: "\e9f4";
}
.icon-confused:before {
  content: "\e9f5";
}
.icon-confused-solid:before {
  content: "\e9f6";
}
.icon-neutral:before {
  content: "\e9f7";
}
.icon-neutral-solid:before {
  content: "\e9f8";
}
.icon-hipster:before {
  content: "\e9f9";
}
.icon-hipster-solid:before {
  content: "\e9fa";
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-wondering-solid:before {
  content: "\e9fc";
}
.icon-sleepy:before {
  content: "\e9fd";
}
.icon-sleepy-solid:before {
  content: "\e9fe";
}
.icon-frustrated:before {
  content: "\e9ff";
}
.icon-frustrated-solid:before {
  content: "\ea00";
}
.icon-crying:before {
  content: "\ea01";
}
.icon-crying-solid:before {
  content: "\ea02";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
